:root {
  --primary-color: #4FB518;
  --gray: #626762;
  --white: #ffffff;
  --dark: #1F261E;
  --auth-wrapper-bgcolor: #F9FAF9;
  --border: #E0E6DD;
  --danger: #b30000;
}


body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  /* border: 1px solid red; */
  max-width: 1440px;
  /* font-size: 16px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text_primary_color {
  color: var(--primary-color);
}
