.btn {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;

  /* check if this width will work in all cases */
  width: 100%; 
}

.btn_solid {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
}

.btn_transparent {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn:hover {
  cursor: pointer;
}